

body {
    background-color: rgb(243, 229, 207);
    margin: 0px;
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    
    overflow-x: hidden;
}

#divmenu {
    position:relative;
    left:40%;
    margin: 0px;
    border: 0px;
    padding-bottom: 50px;
    width: 100%;

}

